[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx-revealjs = "~=2.2.0"
sphinxcontrib-sass = "~=0.3.4"
sphinxcontrib-budoux = "~=0.1.5"
sphinxcontrib-oembed = "~=0.2.1"
sphinxemoji = "~=0.2.0"

[dev-packages]
sphinx-watch = "~=0.1.2"

[requires]
python_version = "3.10"
