[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
oembedpy = "~=0.4.0"
sphinx-revealjs = {version = "~=2.5.0", extras = ["screenshot"]}
sphinxcontrib-sass = "~=0.3.4"
sphinxcontrib-budoux = "~=0.1.5"
sphinxemoji = "~=0.2.0"
sphinxext-opengraph = "~=0.7.4"
rst-pypi-ref = "~=0.1.1"
sphinxcontrib-blockdiag = "~=3.0.0"
sphinxnotes-strike = "*"

[dev-packages]
sphinx-watch = "~=0.1.2"
sphinx-autobuild = "*"

[requires]
python_version = "3.10"
