@import "source/beige";
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

.reveal {
  section > h1 {
    font-size: 2.5em;
  }
  section:nth-child(1) {
    dl > dt, dl > dd {
      font-size: 50%;
    }
  }
}
