name: 'Deploy to site'

on:
  push:
    branches:
      - 'main'

env:
  UV_NO_SYNC: 1
  TASK_X_REMOTE_TASKFILES: 1

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.51.2
      - name: Setup workspace
        run: |
          task --yes setup-publish
      - name: Build site contents
        run: |
          task --yes build-publish
        env:
          SITE_URLBASE: ${{ secrets.SITE_URLBASE }}
      - uses: actions/upload-artifact@v5
        with:
          name: site-contents
          path: build/dirrevealjs
  upload:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v6
        with:
          name: site-contents
          path: build/dirrevealjs
      - name: Publish
        uses: cloudflare/wrangler-action@v3
        with:
          wranglerVersion: '4.34.0'
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: deploy
