name: 'Continuous Integration'

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  UV_NO_SYNC: 1
  TASK_X_REMOTE_TASKFILES: 1

jobs:
  try-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.51.2
      - name: Setup workspace
        run: |
          task --yes setup
      - name: Build site contents
        run: |
          task --yes build-dirrevealjs build-dirhtml
  lint-contents:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.51.2
      - name: Setup workspace
        run: |
          task --yes setup
      - name: Check sources
        run: |
          task --yes verify
